ConsoleTest/ConsoleBasicHttpTest/Service References/ServiceReference1/CaseService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CaseService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.1.173:5566/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.1.173:5566/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.1.173:5566/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICase_AddCase_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCase" />
  </wsdl:message>
  <wsdl:message name="ICase_AddCase_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCaseResponse" />
  </wsdl:message>
  <wsdl:message name="ICase_GetBuffer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBuffer" />
  </wsdl:message>
  <wsdl:message name="ICase_GetBuffer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBufferResponse" />
  </wsdl:message>
  <wsdl:portType name="ICase">
    <wsdl:operation name="AddCase">
      <wsdl:input wsaw:Action="http://tempuri.org/ICase/AddCase" message="tns:ICase_AddCase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICase/AddCaseResponse" message="tns:ICase_AddCase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBuffer">
      <wsdl:input wsaw:Action="http://tempuri.org/ICase/GetBuffer" message="tns:ICase_GetBuffer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICase/GetBufferResponse" message="tns:ICase_GetBuffer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="epname" type="tns:ICase">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddCase">
      <soap:operation soapAction="http://tempuri.org/ICase/AddCase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBuffer">
      <soap:operation soapAction="http://tempuri.org/ICase/GetBuffer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CaseService">
    <wsdl:port name="epname" binding="tns:epname">
      <soap:address location="http://192.168.1.173:5566/myway" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>